// log-in and sign-up start
.sign-up-log-in {
	overflow: hidden;
	.modal-background {
		background: #ffffff;
	}
	.modal-close::before,
	.delete::after,
	.modal-close::after {
		background-color: $grey3;
		content: "";
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform-origin: center center;
	}
	.modal-content {
		max-height: 100%;
		overflow: hidden;
	}
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
	}
	.form-container {
		width: 100%;
		overflow: hidden;
	}
	.actions {
		text-align: center;
		p {
			margin-top: 20px;
			color: $green2;
			font-weight: 600;
		}
	}
}

// log-in and sign-up end

// input
input[type="email"] {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $grey;
	font-weight: 400;
	font-size: 21px;
	padding-left: 2px;
}
input[type="password"] {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $grey;
	font-weight: 400;
	font-size: 21px;
	padding-left: 2px;
}

// navbar
.navbar {
	border-bottom: 1px solid $grey;
}

// title list
.title-list {
	height: 100%;
	border-right: 1px solid $grey;
}

// notes title
.note-title-description {
	max-height: 50px;
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tile {
	border-radius: 0px;
	span {
		float: right;
		svg {
			height: 20px;
			color: $grey;
			cursor: pointer;
		}
	}
}

.container {
	padding: 10px;
}

.add-note-button {
	display: flex;
	flex-flow: row-reverse;
}

.textarea {
	height: 20em;
}
